extends ../layout/main

block variables
    - var title = 'RandFilms - Есть что посмотреть';
    - var description = 'RadnFilms - Огромный источник фильмов и сериалов, вохможность откладывать полюбившиеся творения в закладки и случайным образом находить "Что посмотреть"';
    - var language = 'ru';
block content
      
block script
    

