block variables

doctype html
html(lang=language)
    head
        meta(charset='UTF-8')
        title #{title}
        meta(name="description", content=description) 
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        link(rel="shortcut icon" href="../../assets/img/icons/favicon.png" type="image/png")
    body(class=pageClass || '')
        #app
            block content  
        block script